@model TTGarmentAdmin.Models.DashboardModel
@using GridMvc.Html
@{
    ViewBag.Title = "_promotionListPartialView";
    Layout = null;
}

@*<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />*@

<style>
    .box-style {
        width: 25% !important;
        display: inline-block !important;
        height: 38px !important;
        margin: 0px 29px !important;
    }

    table.grid-table {
        font-size: 11px;
    }
</style>

@helper CustomRenderingOfImage(string filepath)
{
    <a href=@filepath target="_blank">
        <img src="@filepath" height="50" width="50" />
    </a>
}

@helper CustomRenderingOfStatusColumn(string Id, bool? status)
{
var statusValue = "";
if (status == true)
{
    statusValue = "DeActivate";
}
else
{
    statusValue = "Activate";
}

    <span id="@Id" name="bannerStatus" style="color:blue; text-decoration-line:underline; cursor:pointer; ">@statusValue</span>
}

@helper CustomRenderingOfActionColumn(string Id)
{
    <a href="@Url.Action("GetAddBannerView", "Dashboard", new { Id = Id })"><img src="~/images/edit.png" height="20" name="editMember" /></a>
}

@****** New code for Notificaton ******@
<div class="card mb-3" id="responseContainer">
    <div class="card-header">
        <i class="fa fa-table"></i> Banner List
        @*<button id="export" class="btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light" style="float: right;  width: 10% !important;  margin: 0px !important;">Export</button>*@
        <div style="display:none;">@Html.Raw(Model.TableString)</div>
    </div>
    <div class="card-body">
        @if (Model.BannerList == null || Model.BannerList == null || Model.BannerList.Count == 0)
        {
            <div>No record Found</div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>File</th>
                            <th>Uploaded Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var banner in Model.BannerList)
                        {
                            <tr>
                                <td>@banner.Id</td>
                                <td>@CustomRenderingOfImage(banner.Url)</td>
                                <td>@banner.Date</td>
                                <td>@CustomRenderingOfStatusColumn(banner.Id, banner.IsActive)</td>
                                <td>@CustomRenderingOfActionColumn(banner.Id)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@*****END*******@

@*<div class="col-lg-12" style="margin-left: 5px;" id="responseContainer">
        @if (Model.BannerList == null || Model.BannerList == null || Model.BannerList.Count == 0)
        {
            <div>No record Found</div>
        }
        else
        {
            @*<button id="export" class="btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light" style="float: right;  width: 10% !important;  margin: 0px !important;">Export</button>

            @Html.Grid(Model.BannerList).Columns(columns =>
       {
           columns.Add(c => c.Id).Encoded(false).Sanitized(false).Titled("Id").Filterable(true);
           columns.Add().Encoded(false).Titled("File").Sanitized(false).RenderValueAs(o => CustomRenderingOfImage(o.Url));
           columns.Add(c => c.Date).Encoded(false).Sanitized(false).Titled("Uploaded Date").Filterable(true);
           columns.Add().Encoded(false).Titled("Status").Sanitized(false).RenderValueAs(o => CustomRenderingOfStatusColumn(o.Id, o.IsActive));
           columns.Add().Encoded(false).Titled("Action").Sanitized(false).RenderValueAs(o => CustomRenderingOfActionColumn(o.Id));
       }).WithPaging(15).Sortable(true)
        }

        <div id="error">@Model.Error</div>
    </div>*@

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script src="~/Scripts/Project/dashboard.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    jq(document).ready(function () {
        if (jq("#export").length > 0) {
            jq("#export").unbind();
            jq("#export").click(function () {
                jq(".grid-table").unbind();
                var dateToday = new Date();
                jq(".grid-table").table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "MediaCategory-" + dateToday,
                    fileext: ".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            });
        }
    });
</script>


