@model TTGarmentAdmin.Models.DashboardModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<style>
    #progress_bar {
        margin: 10px 0;
        padding: 3px;
        border: 1px solid #000;
        font-size: 14px;
        clear: both;
        opacity: 0;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
    }

        #progress_bar.loading {
            opacity: 1.0;
        }

        #progress_bar .percent {
            background-color: #99ccff;
            height: auto;
            width: 0;
        }

    .form-style {
        width: 30%;
        margin-left: 34%;
    }
</style>

<body>
    <div class="row">
        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addMessageForm" onsubmit="return SaveMessageDetailImage();">
            @Html.HiddenFor(m => m.MessageDetail.Id, new { name = "Id" })
            @Html.HiddenFor(m => m.MessageDetail.IsActive, new { name = "IsActive" })
            @Html.HiddenFor(m => m.MessageDetail.MessagePublishDate, new { name = "MessagePublishDate" })

            <div class="form-group">
                <label>Heading</label>
                @Html.TextBoxFor(m => m.MessageDetail.Header, new { @id = "Heading", @required = "required", @class = "form-control", @placeholder = "Heading" })
            </div>
            <br />
            <div class="form-group">
                <label>Message Text</label>
                @Html.TextBoxFor(m => m.MessageDetail.Message, new { @id = "message", @required = "required", @class = "form-control", @placeholder = "Message" })
            </div>
            <br />
            <div class="form-group">
                <label>Publish From</label>
                @Html.TextBoxFor(m => m.MessageDetail.PublishFromDate, new { @id = "fromDate", @required = "required", @class = "form-control", @style = "height: 38px;", @placeholder = "Value" })
            </div>
            <br />
            <div class="form-group">
                <label>Publish To</label>
                @Html.TextBoxFor(m => m.MessageDetail.PublishToDate, new { @id = "toDate", @required = "required", @class = "form-control", @style = "height: 38px;", @placeholder = "Value" })
            </div>
            <br />
            <div class="form-group">
                <input type="file" id="files" name="file" />
                <div>Max size limit 20 MB</div>
            </div>
            @Html.HiddenFor(m => m.MessageDetail.ImageUrl, new { @id = "imageFilePath" })
            <br />
            <label id="error" style="color:red;"></label>
            <br />
            <button class="btn btn-large btn-primary" type="submit">Save</button>
        </form>

    </div>
</body>
</html>

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Project/dashboard.js"></script>
</head>
<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    jq('#fromDate').datepicker({
        dateFormat: 'mm-dd-yy' 
    });
    jq('#toDate').datepicker({
        dateFormat: 'mm-dd-yy'
    });
</script>