@model TTGarmentAdmin.Models.DashboardModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>


<style>
    #progress_bar {
        margin: 10px 0;
        padding: 3px;
        border: 1px solid #000;
        font-size: 14px;
        clear: both;
        opacity: 0;
        -moz-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
    }

        #progress_bar.loading {
            opacity: 1.0;
        }

        #progress_bar .percent {
            background-color: #99ccff;
            height: auto;
            width: 0;
        }

        .form-style{

    width: 30%;

    margin-left: 34%;

        }
</style>

<body>
    <div class="row">
        <form data-parsley-validate class="validateForm form-horizontal form-style" id="productForm" onsubmit="return SaveImagePath();">
            @Html.HiddenFor(m => m.ProductDetail.Id, new { name = "Id" })
            @Html.HiddenFor(m => m.ProductDetail.Action, new { name = "Action" })
            <div class="form-group">
                <label>Product Name</label>
                @Html.TextBoxFor(m => m.ProductDetail.Name, new { @id = "Name", @required = "required", @class = "form-control", @placeholder = "Name" })
            </div>
            <div class="form-group">
                <label>Points</label>
                @Html.TextBoxFor(m => m.ProductDetail.Points, new { @type = "number", @id = "points", @required = "required", @class = "form-control", @placeholder = "Points" })
            </div>
            <div class="form-group">
                <label>Size</label>
                @Html.TextBoxFor(m => m.ProductDetail.Size, new { @id = "Size", @class = "form-control", @placeholder = "Size" })
            </div>
            <div class="form-group">
                <label>Product Code</label>
                @Html.TextBoxFor(m => m.ProductDetail.ProductCode, new { @id = "Code", @required = "required", @class = "form-control", @placeholder = "Code" })
            </div>
            <div class="form-group">
                <label>Quantity</label>
                @Html.TextBoxFor(m => m.ProductDetail.Quantity, new { @type = "number", @id = "Quantity", @required = "required", @class = "form-control", @placeholder = "Quantity" })
            </div>
            <div class="form-group">
                <input type="file" id="files" name="file" />
                @*<div id="progress_bar"><div class="percent">0%</div></div>*@
                <span>Max size limit 20 MB</span>
            </div>
            @Html.HiddenFor(m => m.ProductDetail.Image, new { @id = "imageFilePath" })
            <br />
            <label id="error" style="color:red;"></label>
            <br />
            <button class="btn btn-large btn-primary" type="submit">Save</button>
        </form>

    </div>
</body>
</html>

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Project/dashboard.js"></script>
</head>