@model TTGarmentAdmin.Models.DashboardModel
@using GridMvc.Html
@{
    ViewBag.Title = "Registered Retailer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />*@

<style>
    table.grid-table .grid-header > .grid-header-title {
        margin-right: 10px !important;
    }

    .box-style {
        width: 25% !important;
        display: inline-block !important;
        height: 38px !important;
        margin: 0px 29px !important;
    }

    table.grid-table {
        font-size: 10px;
    }

    .image-col-width {
        width: 20px !important;
    }
</style>
@****** New code for Promotion ******@
<div class="card mb-3" id="responseContainer">
    <div class="card-header">
        <i class="fa fa-table"></i> Application Versions
        @*<button id="export" class="btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light" style="float: right;  width: 10% !important;  margin: 0px !important;">Export</button>*@
    </div>
    <div class="card-body">
        <div class="btn btn-large btn-primary"><a style="color:white;" href="@Url.Action("GetAddVersionView", "Dashboard", new { Id = string.Empty })">Add Version</a></div>
        @if (Model.VersionList == null || Model.VersionList == null || Model.VersionList.Count == 0)
        {
            <div>No record Found</div>
        }
        else
        {
            <div style="margin-top:10px;" class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Version</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var version in Model.VersionList)
                        {
                            <tr>
                                <td>@version.Id</td>
                                <td>@version.Version</td>
                                <td>@version.Date</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@*****END*******@

@*<div class="row">
        <div class="col-lg-12" style="margin-left: 5px;" id="responseContainer">
            <div class="btn btn-large btn-primary"><a style="color:white;" href="@Url.Action("GetAddVersionView", "Dashboard", new { Id = string.Empty })">Add Version</a></div>
            @if (Model.VersionList == null || Model.VersionList == null || Model.VersionList.Count == 0)
            {
                <div>No record Found</div>
            }
            else
            {
                <button id="export" class="btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light" style="float: right;  width: 10% !important;  margin: 0px !important;">Export</button>
                <div style="display:none;">@Html.Raw(Model.TableString)</div>
                @Html.Grid(Model.VersionList).Columns(columns =>
           {
               columns.Add(c => c.Id).Encoded(false).Sanitized(false).Titled("ID").Filterable(true);
               columns.Add(c => c.Version).Encoded(false).Sanitized(false).Titled("Version").Filterable(true);
               columns.Add(c => c.Date).Encoded(false).Sanitized(false).Titled("Date").Filterable(true);
           }).WithPaging(15).Sortable(true)
            }
        </div>
    </div>*@
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script src="~/Scripts/Project/dashboard.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    jq(document).ready(function () {
        if (jq("#export").length > 0) {
            jq("#export").unbind();
            jq("#export").click(function () {
                jq("#retailerStringTable").unbind();
                var dateToday = new Date();
                jq("#retailerStringTable").table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "RegisteredRetailer-" + dateToday,
                    fileext: ".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            });
        }
    });
</script>