@model TTGarmentAdmin.Models.DashboardModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Project/dashboard.js"></script>
</head>

<body>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Edit Retailer Detial</a>
        </li>
        @*<li class="breadcrumb-item active"></li>*@
    </ol>
    <div class="row">
        <form data-parsley-validate class="validateForm form-horizontal" id="retailerIdForm" onsubmit="return SaveRetailerDetail();">
            @Html.HiddenFor(m => m.RetailerDetail.ID, new { name = "ID" })
            @Html.HiddenFor(m => m.RetailerDetail.DistributorId, new { name = "DistributorId" })
            @Html.HiddenFor(m => m.RetailerDetail.IsActive, new { name = "IsActive" })
            @Html.HiddenFor(m => m.RetailerDetail.ProfilePicture, new { name = "ProfilePicture" })
            @Html.HiddenFor(m => m.RetailerDetail.ShopLogo, new { name = "ShopLogo" })
            @Html.HiddenFor(m => m.RetailerDetail.Password, new { name = "Password" })
            @Html.HiddenFor(m => m.RetailerDetail.RegistrationDate, new { name = "RegistrationDate" })

            <div class="form-group">
                <label>Firm Name</label>
                @Html.TextBoxFor(m => m.RetailerDetail.FirmName, new { @id = "FirmName", @required = "required", @class = "form-control", @placeholder = "Firm Name" })
            </div>
            <div class="form-group">
                <label>Address</label>
                @Html.TextBoxFor(m => m.RetailerDetail.Address, new { @id = "Address", @required = "required", @class = "form-control", @placeholder = "Address" })
            </div>
            <div class="form-group">
                <label>Mobile</label>
                @Html.TextBoxFor(m => m.RetailerDetail.Mobile, new { @id = "Mobile", @required = "required", @class = "form-control", @placeholder = "Mobile" })
            </div>
            <div class="form-group">
                <label>Distributer Name</label>
                @Html.TextBoxFor(m => m.RetailerDetail.DistributerName, new { @id = "DistributerName", @required = "required", @class = "form-control", @placeholder = "Distributer Name" })
            </div>
            <div class="form-group">
                <label>Distributer City</label>
                @Html.TextBoxFor(m => m.RetailerDetail.DistributerCity, new { @id = "DistributerCity", @required = "required", @class = "form-control", @placeholder = "Distributer City" })
            </div>
            <div class="form-group">
                <label>Distributer Mobile No</label>
                @Html.TextBoxFor(m => m.RetailerDetail.DistributerMobileNo, new { @id = "DistributerMobileNo", @required = "required", @class = "form-control", @placeholder = "Distributer Mobile No" })
            </div>
            <div class="form-group">
                <label>State</label>
                @Html.DropDownListFor(m => m.RetailerDetail.StateId, new SelectList(Model.StateList, "Id", "Name"), new { @required = "0", id = "stateList", name = "states", @class = "form-control" })
            </div>
            <div class="form-group">
                <label>City</label>
                @Html.DropDownListFor(m => m.RetailerDetail.CityId, new SelectList(Model.CityList, "cityID", "cityName"), new { @required = "0", id = "cityList", name = "cities", @class = "form-control" })
            </div>
            <div class="form-group">
                <label>PinCode</label>
                @Html.TextBoxFor(m => m.RetailerDetail.PinCode, new { @id = "PinCode", @required = "required", @class = "form-control", @placeholder = "PinCode" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.RetailerDetail.Email, new { @id = "Email", @class = "form-control", @placeholder = "Email" })
            </div>
            <div class="form-group">
                <label>ShopGpsX</label>
                @Html.TextBoxFor(m => m.RetailerDetail.ShopGpsX, new { @id = "ShopGpsX", @required = "required", @class = "form-control", @placeholder = "ShopGpsX" })
            </div>
            <div class="form-group">
                <label>ShopGpsY</label>
                @Html.TextBoxFor(m => m.RetailerDetail.ShopGpsY, new { @id = "ShopGpsY", @required = "required", @class = "form-control", @placeholder = "ShopGpsY" })
            </div>

            <div class="form-group">
                <label>AddressGpsX</label>
                @Html.TextBoxFor(m => m.RetailerDetail.AddressGpsX, new { @id = "AddressGpsX", @required = "required", @class = "form-control", @placeholder = "AddressGpsX" })
            </div>
            <div class="form-group">
                <label>AddressGpsY</label>
                @Html.TextBoxFor(m => m.RetailerDetail.AddressGpsY, new { @id = "AddressGpsY", @required = "required", @class = "form-control", @placeholder = "AddressGpsY" })
            </div>

            <div class="form-group">
                <label>Block Retailer</label>
                @Html.DropDownListFor(m => m.RetailerDetail.IsBlock, new SelectList(Model.BlockOption, "Value", "Text"), new { @id = "IsBlock", @required = "required", @class = "form-control", @placeholder = "IsBlock" })
            </div>

            <button class="btn btn-large btn-primary" type="submit">Save</button>
        </form>
        <label id="error" style="color:red;"></label>
    </div>
</body>
</html>
