@model TTGarmentAdmin.Models.DashboardModel
@*@using GridMvc.Html*@
@{
    ViewBag.Title = "Points Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />*@

<style>
    .box-style {
        width: 25% !important;
        display: inline-block !important;
        height: 38px !important;
        margin: 0px 29px !important;
    }

    .search-button-style {
        display: inline-block;
        width: 13%;
        height: 36px;
        margin-left: 5%;
        margin-top: -5px;
    }

    table.grid-table {
        font-size: 11px;
    }
</style>

@helper CustomRenderingOfActionColumn(string LocationLink)
{
    <a href="@LocationLink" target="_blank">Click Here..</a>
}

@****** New code for Promotion ******@
<div class="card mb-3" id="responseContainer">
    <div class="card-header">
        <i class="fa fa-table"></i> Points Ledger
        <button id="export" class="btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light" style="float: right;  width: 10% !important;  margin: 0px !important;">Export</button>
        <div style="display:none;">@Html.Raw(Model.TableString)</div>
    </div>
    @*/**filters  - Start**/*@
    <form data-parsley-validate style="margin-top:10px; margin-left:50px;" class="validateForm form-horizontal">
        <div class="form-group" style="display:inline-block;">
            <label>Filter Type</label>
            @Html.DropDownListFor(m => m.FilterDetail.SelectedFilterName, new SelectList(Model.FilterDetail.FilterName), new { @required = "0", id = "filterList", name = "filters", @class = "form-control" })
        </div>
        <div class="form-group" style="display:inline-block; margin-left:6%">
            <label>Filter Value</label>
            @Html.TextBoxFor(m => m.FilterDetail.FilterValue, new { @id = "filterValue", @required = "required", @class = "form-control", @style = "height: 38px;", @placeholder = "Value" })
        </div>

        <br />

        <div class="form-group" style="display:inline-block;">
            <label>From Date</label>
            @Html.TextBoxFor(m => m.FilterDetail.FromDate, new { @id = "fromDate", @required = "required", @class = "form-control", @style = "height: 38px;", @placeholder = "Value" })
        </div>

        <div class="form-group" style="display:inline-block; margin-left:6%">
            <label>To Date</label>
            @Html.TextBoxFor(m => m.FilterDetail.ToDate, new { @id = "toDate", @required = "required", @class = "form-control", @style = "height: 38px;", @placeholder = "Value" })
        </div>

        <button id="searchButton" data-view="Points" type="button" class="search-button-style btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light">Search</button>
    </form>
    @*/**filters - End**/*@
    <div class="card-body">
        @if (Model.PointsLedger == null || Model.PointsLedger == null || Model.PointsLedger.Count == 0)
        {
            <div>No record Found</div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Retailer Id</th>
                            <th>Firm Name</th>
                            <th>Barcode</th>
                            <th>Earned Points</th>
                            <th>Redeem Points</th>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Shop Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var points in Model.PointsLedger)
                        {
                            <tr>
                                <td>@points.RetailerId</td>
                                <td>@points.FirmName</td>
                                <td>@points.Barcode</td>
                                <td>@points.CreditPoints</td>
                                <td>@points.DabitPoints</td>
                                <td>@points.EarnSpentDate</td>
                                <td>@points.ProductName</td>
                                <td>
                                    @CustomRenderingOfActionColumn(points.LocationLink)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@*****END*******@
@*<div class="row">

        <div class="col-lg-12" style="margin-left: 5px;" id="responseContainer">
            @if (Model.PointsLedger == null || Model.PointsLedger == null || Model.PointsLedger.Count == 0)
            {
                <div>No record Found</div>
            }
            else
            {
                /**filters  - Start**/
                <form data-parsley-validate class="validateForm form-horizontal">
                    <div class="form-group" style="display:inline-block;">
                        <label>Filter Type</label>
                        @Html.DropDownListFor(m => m.FilterDetail.SelectedFilterName, new SelectList(Model.FilterDetail.FilterName), new { @required = "0", id = "filterList", name = "filters", @class = "form-control" })
                    </div>
                    <div class="form-group" style="display:inline-block; margin-left:6%">
                        <label>Filter Value</label>
                        @Html.TextBoxFor(m => m.FilterDetail.FilterValue, new { @id = "filterValue", @required = "required", @class = "form-control", @style = "height: 38px;", @placeholder = "Value" })
                    </div>

                    <button id="searchButton" data-view="Points" type="button" class="search-button-style btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light">Search</button>
                </form>
                /**filters - End**/

                <button id="export" class="btn btn-info btn-sm left btn-block text-uppercase waves-effect waves-light" style="float: right;  width: 10% !important;  margin: 0px !important;">Export</button>
                <div style="display:none;">@Html.Raw(Model.TableString)</div>
                @Html.Grid(Model.PointsLedger).Columns(columns =>
           {
               columns.Add(c => c.RetailerId).Encoded(false).Sanitized(false).Titled("Retailer Id").Filterable(true);
               columns.Add(c => c.FirmName).Encoded(false).Sanitized(false).Titled("Firm Name").Filterable(true);
               columns.Add(c => c.Barcode).Encoded(false).Sanitized(false).Titled("Barcode").Filterable(true);
               columns.Add(c => c.DabitPoints).Encoded(false).Sanitized(false).Titled("Earned Points").Filterable(true);
               columns.Add(c => c.CreditPoints).Encoded(false).Sanitized(false).Titled("Redeem Points").Filterable(true);
               columns.Add(c => c.EarnSpentDate).Encoded(false).Sanitized(false).Titled("Date").Filterable(true);
               columns.Add(c => c.ProductName).Encoded(false).Sanitized(false).Titled("Product").Filterable(true);
               columns.Add().Encoded(false).Titled("Shop Location").Sanitized(false).RenderValueAs(o => CustomRenderingOfActionColumn(o.LocationLink));
           }).WithPaging(15).Sortable(true)
            }
        </div>
    </div>*@

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
@*<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>*@

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script src="~/Scripts/Project/dashboard.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>

<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    jq('#fromDate').datepicker({
    });
    jq('#toDate').datepicker({
    });
    jq(document).ready(function () {
        if (jq("#export").length > 0) {
            jq("#export").unbind();
            jq("#export").click(function () {
                jq("#pointsLedgerStringTable").unbind();
                var dateToday = new Date();
                jq("#pointsLedgerStringTable").table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "PointsLedger-" + dateToday,
                    fileext: ".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            });
        }
    });
</script>


